<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Chicago Breaking News</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Roboto:300" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="logo">
        Chicago Breaking News
      </div>
      <div id="navigation">
        <div class="links"><a id="home" href="#"></a></div>
        <div class="links"><a id="scrape" href="/scrape"></a></div>
        <div class="links"><a id="saved" href="/saved"></a></div>
      </div>
    </div>
    <div id="welcomeBox">
      <div id="welcomeText">
        <h3>Welcome!</h3>
        <p>Let's check the latest Chicago Tribune breaking news headlines.</p>
        <button class="welcomeButtons"><a id="welcomeScrape" href="/scrape">New Stories</a></button>
        <button class="welcomeButtons"><a id="welcomeScrape" href="/saved">Saved Stories</a></button>
      </div>
    </div>
    <div id="wrapper">
      <div id="articles">
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
